# docs
website/.idea
website/.next
website/node_modules

# macOS
.DS_Store

# Xcode
xcuserdata
*.xcuserstate
*.xcuserdated
*.xcworkspace/xcshareddata
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.backup
.swiftpm/
.build/
